table, th, td {w
  border:1px solid #000000;
  padding: 15px;
}



button {
    background-color: #2bab04;
    border-radius: 15%;
    outline: none;
    padding: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px black;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #337c1d;
}

button:active {
    transform: translateY(4px);
}